@import "src/scss/bootstrap/bootstrap-mixins";
@import "src/scss/variables";

.imageContainer {
  display: flex;
  height: 200px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 450px;
  }

  img {
    align-self: center;
    width: 100%;
  }
}

.rating {
  display: flex;
  align-items: center;
  font-size: 1rem;

  svg {
    color: $io-primary;
    fill: $io-primary;
    height: 1rem;
  }
}

.locationCard {
  composes: card from '../../scss/shared.module.scss';

  p {
    margin-bottom: 0;
  }
}

.placeSection {
  border-top: solid 1px $io-lighter-grey;
  padding: 3rem 0;
}

.checkInSection {
  @include media-breakpoint-down(md) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 75px;
    background-color: $io-lightest-grey;
    z-index: 1;
    padding: 0;
    height: 80px;
    margin-bottom: 0;
  }

  .reward {
    font-size: 2rem;
  }
}
