@import "../../scss/variables";

.container {
  padding: 15px 0;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $io-white;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: $io-primary;
}
