@import "src/scss/variables";
@import "src/scss/bootstrap/bootstrap-mixins";

.container {
  padding: .875rem;
  top: 0;
  width: 100%;
  background-color: $io-white;
  z-index: 2;

  @include media-breakpoint-up(md) {
    position: sticky;
  }
}

.content {
  margin: auto;
  max-width: 1400px;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  color: $io-primary;

  &:hover {
    text-decoration: none;
  }
}

.nav a {
  color: $io-dark-grey;
  text-decoration: none;
  font-weight: bold;

  &.active {
    color: $io-primary;
  }

  &:hover {
    color: darken($io-primary, 15%);
  }
}
