@import "../../css/variables.css";

.container {
  padding: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--io-white);
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: var(--io-primary);
}
