@import "src/scss/variables";
@import "src/scss/bootstrap/bootstrap-mixins";

$--border-radius: 5px;

.Category {
  display: flex;
  align-items: flex-end;
  padding: 15px;
  height: 100px;
  position: relative;
  background-size: cover;
  border-radius: $--border-radius;

  @include media-breakpoint-up(md) {
    height: 160px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: $--border-radius;
  }

  &:hover {
    &:after {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .text {
    font-weight: bold;
    font-size: 1.4rem;
    color: $io-white;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
    }
  }
}
