@import "src/scss/variables";

.LoadingSpinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;

  .spinner {
    width: 5rem;
    height: 5rem;
    border-color: $io-primary;
    border-right-color: transparent;
  }
}
