@import "src/scss/variables";
@import "src/scss/bootstrap/bootstrap-mixins";

.PlaceCard {
  a:hover {
    text-decoration: none;
  }

  .image {
    background-size: cover;

    &.vertical {
      height: 100px;

      @include media-breakpoint-up(md) {
        height: 160px;
      }
    }
  }

  .name {
    font-size: $io-font-large;
    font-weight: bold;
    color: $io-dark-grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .rewardAmount {
    font-size: $io-font-large;
  }

  .rating {
    display: flex;
    align-items: center;
    color: $io-dark-grey;

    svg {
      color: $io-primary;
      fill: $io-primary;
      height: 1rem;
    }
  }
}
