@import "src/scss/variables";
@import "src/scss/bootstrap/bootstrap-mixins";

.PlaceCard {
  .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px $io-light-grey;
  }

  .image {
    background-size: cover;

    &.vertical {
      height: 140px;

      @include media-breakpoint-up(md) {
        height: 200px;
      }
    }
  }

  .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: $io-dark-grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .reward {
    font-size: 1.2rem;
  }

  .rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $io-dark-grey;

    svg {
      color: $io-primary;
      fill: $io-primary;
      height: 1.2rem;
    }
  }
}
