@import "src/scss/variables";

.SearchBar {
  width: 100%;
  display: flex;
  justify-content: center;

  input {
    width: 100%;
    height: 2.8rem;
    padding: 0 1.5rem;
    color: $io-dark-grey;
    background-color: $io-white;
    border: none;
    box-shadow: 0 4px 10px $io-light-grey;
    border-radius: 1.3rem;

    &:focus {
      outline: none;
      background-color: $io-lighter-grey;
      border: $io-light-grey solid 1px;
      box-shadow: none;
    }
  }
}
