@import "../../scss/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 66px;
  padding-bottom: 15px;
  background-color: $io-white;
}

.container input {
  width: 100%;
  padding: 10px 15px;
  color: $io-dark-grey;
  background-color: $io-lighter-grey;
  border-radius: 20px;
  border: $io-light-grey solid 1px;
}

.container input:focus {
  outline: none;
}
