@import "src/scss/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.container input {
  width: 100%;
  padding: 10px 15px;
  color: $io-dark-grey;
  background-color: $io-white;
  border: none;
  box-shadow: 0 4px 10px $io-light-grey;
  border-radius: 20px;
}

.container input:focus {
  outline: none;
  background-color: $io-lighter-grey;
  border: $io-light-grey solid 1px;
  box-shadow: none;
}
