@import "../../css/variables.css";

.container {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 10px;
  display: flex;
  background-color: var(--io-white);
}

.navItem {
  align-items: center;
  color: var(--io-dark-grey);
  display: flex;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
}

.navItem.active {
  color: var(--io-primary);
}

.navItem .icon {
  margin-bottom: 5px;
}

.navItem .text {
  font-size: 12px;
}

