@import "src/scss/variables";

.container {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: $io-white;
  z-index: 2;
}

.navItem {
  align-items: center;
  color: $io-dark-grey;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: bold;

  &.active {
    color: $io-primary;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: none;
  }

  .icon {
    margin-bottom: 5px;
  }

  .text {
    font-size: $io-font-smaller;
  }
}
