section {
  padding-bottom: 40px;
}

input {
  -webkit-appearance: none;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.125rem;
  }
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}
