section {
  padding-bottom: 40px;

  &:last-child {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 75px;
  }
}

input {
  -webkit-appearance: none;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.125rem;
  }
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}
