section {
  padding: 2rem 0;
  margin-bottom: 1.5rem;

  hr {
    margin-top: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    padding: 3rem 0;
    margin-bottom: 2rem;

    hr {
      margin-top: 2rem;
    }
  }
}

input {
  -webkit-appearance: none;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.25rem;
  }
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

// Modals

.modal-content {
  border: none;
  border-radius: .5rem;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
