@import "variables";
@import "bootstrap/bootstrap-mixins";

.card {
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba($io-grey, 0.5);
}

.horizontalScrollContainer {
  @include make-row();
  flex-wrap: nowrap;
  overflow-x: auto;

  @include media-breakpoint-up(lg) {
    flex-wrap: wrap;
    overflow-x: initial;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
