/* Brand Colors */
$io-primary: #FF5959;

$io-black: #000000;
$io-darker-grey: #3d3d3d;
$io-dark-grey: #555555;
$io-grey: #7f7f7f;
$io-light-grey: #c2c2c2;
$io-lighter-grey: #eeeeee;
$io-white: #ffffff;


/* Font sizes */
$io-font-smaller: .75rem;
$io-font-small: .875rem;
$io-font-medium: 1rem;
$io-font-large: 1.125rem;
$io-font-larger: 1.5rem;
