@import "src/scss/bootstrap/bootstrap-mixins";

.CategoryPlaces {
  border-bottom: 1px solid $border-color;
  padding: 1.5rem 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.placeCard {
  @include media-breakpoint-up(lg) {
    &:nth-child(n+5) {
      display: none;
    }
  }
}
