@import "src/scss/bootstrap/bootstrap-mixins";

.RecommendedPlaces {
  .horizontalScroll {
    @include make-row();
    overflow-x: auto;
    flex-wrap: nowrap;

    @include media-breakpoint-up(md) {
      @include make-container();
      flex-wrap: wrap;
      overflow-x: initial;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
